 .txt-area{
 width: 80%;
height: 10vh;
display: block;
padding: 1rem;
margin: 1rem;
}

.trans-txt{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    display: block;
    padding: 1rem;

    margin-left: auto;
    margin-right: auto; 
    margin-top: 1rem;
    margin-bottom: 1rem; 
    
}
/* .divUp{
    background-color: blueviolet;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    height: 400px; 
    width: 100%;
}  */
/* .divUp1{
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin-bottom: -1rem;
    padding-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    height: 100%; 
    width: 100%;
} */
/* #allwali{
    margin-right: 30rem;
} */


html, body {
    height: 100%;
  }
  
  
.all{
width: 98%;
height: 98%;

background: rgba(51,51,51,0.7);
    border:20px solid green; 
    justify-content: center;
    display: table; 
overflow: hidden;
/* margin-top: 1rem; */
margin-bottom: 1rem;
margin-right: 2rem;
/* margin-left: 1rem; */
}
.all .bech{
    text-align: center;
}



/* .di {
    border-left: 70px solid green;
    height: 500px;
    margin-top: 0%;
    border-bottom-left-radius: 1rem;
    text-align: center;
  }
.di .vl {
    text-align: center;
  }
    .vl2 {
        border-right: 70px solid green;
        height: 500px;
        margin-top: 0%;
        border-bottom-left-radius: 1rem;
        text-align: center;
      } */
    